body {
	height: 100%;
	margin: 0;
	position: relative;
}

#game {
    background-image: url('../img/background.png');
	outline: none;
	/*background: #ccc;*/
	margin: 0 auto;
	top: 50%;
	display: block;
}