body {
	height: 100%;
	margin: 0;
	position: relative;
}

#game_container {
	background: url('../img/mountains.png') no-repeat center bottom / 170% auto #ccffff;
	height: 288px;
	margin: 0 auto;
	width: 512px;
}

#game {
	background: url('../img/hills.png') repeat-x 0 bottom / 150% auto;
	outline: none;
	margin: 0 auto;
	top: 50%;
	display: block;
}